@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./navbar.scss";
@import "./styles.scss";
@import "./buttons.scss";
@import "./flex-box.scss";
@import "./animations.scss";
@import "./content.scss";
@import "./cards.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}